@use 'bases';

._abtceo_main_container {
  background-color: #eee;
  padding: 5%;
  align-items: center;

  div {
    width: 100%;

    img {
      width: 100%;
      height: auto;
      border-radius: 20px;
    }

    ._abtceo_nameRA {
      font-size: 1.5rem;
    }

    span {
      display: block;
      margin-bottom: 5%;
      text-align: justify;
    }

    .pionniere {
      font-weight: bold;
    }

    ._abtceo_call_to_action {
      width: 100%;
      padding: 2% 0% 2% 0%;
      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: center;
      color: black;
      margin-top: 10%;
      font-weight: bold;
      border: 2px solid black;
      text-decoration: none;
    }

    ._abtceo_call_to_action:hover {
      background-color: black;
      color: white;
    }
  }
}

@media only screen and (min-width: 768px) {
  /* For desktop: */
  ._abtceo_main_container {
    display: flex;
    height: 100vh;
    padding: bases.$padding;
    justify-content: space-between;
    text-align: justify;

    div {
      width: 22%;
      height: 85%;
    }
  }
}