@use 'bases';

._abtceo_main_container {
  padding: 5% 4%;
  align-items: center;

  div {
    width: 100%;

    img {
      width: 50%;
      height: auto;
    }

    ._abtceo_nameRA {
      font-size: 1.5rem;
    }

    span {
      display: block;
    }

    .pionniere {
      font-weight: bold;
    }

  }
}

@media only screen and (min-width: 992px) {
  /* For desktop: */
  ._abtceo_main_container {
    padding: 5% 6%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;

    .part_one {
      flex: 1;

      img{
        width: 100%;
      }
    }

    .part_two {
      flex: 2;
      margin-left: 4%;
    }
  }
}