@use 'bases';

._d_main_container {
  border-top: 4px solid black;
  border-bottom: 4px solid black;
  
  &_child {
    &_child {
      width: 100%;
      color: black;

      &_content {
        height: auto;
        text-align: justify;
        display: block;
        overflow: hidden;
        cursor: pointer;
        padding: 5%;

        .title_text {
          display: block;
          font-weight: bold;
          font-size: 2rem;
        }

        .content_text {
          display: block;
        }

      }
    }
  }
}

@media only screen and (min-width: 768px) {
._d_main_container {
  display: flex;
  justify-content: center;
  height: 100vh;
  flex-direction: column;

  &_child {
    display: flex;
    height: 40%;

    &_child {
      width: 50vw;
      display: flex;
      flex-direction: row;
      color: #888;

      &_content {
        height: 100%;
        width: 100%;
        padding: bases.$padding;
      }
    }

    &_child:hover {
      color: black;
    }
  }
}
}