@use 'bases';

._hbvk_cover_container {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 5% 0;

  ._hbvk_villageKongo_presentation {
    display: flex;
    flex-direction: column;
    align-items: center;
    
    &_logo {
      display: flex;
      width: 100%;
      justify-content: center;
      align-items: center;
      height: 15vh;
      
      img {
        width: 80%;
        height: auto;
      }
    }

    &_baseline {
      display: flex;
      width: 90%;
      justify-content: center;
      align-items: center;
    }

    .link_button {
      background-color: bases.$copper;
      display: inline-block;
      text-decoration: none;
      color: white;
      margin-top: 8%;
      padding: 4% 6%;
    }
  }

  ._hbvk_villageKongo_image_container {
    flex: 1;
    margin: 5% 0;
    display: flex;
    flex-direction: column;
    align-items: center;

    ._hbvk_villageKongo_image_container {
      width: 90%;
      display: flex;
      justify-content: center;

      img {
        width: 100%;
      }
    }
  }
}

@media only screen and (min-width: 768px) {
  ._hbvk_cover_container {
    display: flex;
    align-items: center;
    flex-direction: row;
    margin: 0 0;
  
    ._hbvk_villageKongo_presentation {
      flex: 2;
      display: flex;
      flex-direction: column;
      align-items: center;
      
      &_logo {
        display: flex;
        width: 100%;
        justify-content: center;
        align-items: center;
        height: 15vh;
        
        img {
          width: 60%;
          height: auto;
        }
      }
  
      &_baseline {
        display: flex;
        width: 60%;
        justify-content: center;
        align-items: center;
      }
  
      .link_button {
        background-color: bases.$copper;
        display: inline-block;
        text-decoration: none;
        color: white;
        margin-top: 8%;
        padding: 2% 4%;
      }
    }
  
    ._hbvk_villageKongo_image_container {
      flex: 3;
      margin: 0%;
      display: flex;
      flex-direction: column;
      align-items: center;
  
      ._hbvk_villageKongo_image_container {
        width: 100%;
        display: flex;
        justify-content: center;
  
        img {
          width: 100%;
        }
      }
    }
  }
}