@use 'bases';
._n_header {
  top: 0;
  left: 0;
  position: fixed;
  width: 90vw;
  display: flex;
  height: 10vh;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  padding: bases.$padding;
  background-color: white;
  z-index: 100;
  border-bottom: 1px solid #eee;

  
  ._n_title_div {
    width: 100%;
    height: 60%;
    display: flex;
    flex-direction: row;
    align-items: center;

    img{
      width: 35%;
    }
  }
  
  ._n_action_button {
    position: absolute;
    display: block;
    right: 2vw;
    width: 10%;
    cursor: pointer;

    img {
      width: 60%;
    }
  }

  ._n_action_button_cancel {
    position: absolute;
    display: block;
    top: 0;
    right: 2vw;
    width: 10%;
    cursor: pointer;

    img {
      width: 60%;
    }
  }

  .desktop {
    display: none;
  }

  .phone {
    position: absolute;
    display: block;
    top: 10.1vh;
    right: -100vw;
    width: 100vw;
    height: 100vh;
    background-color: rgba($color: white, $alpha: 0.95);
    padding-top: 8%;
    transition: 0.5s;
  
    ul {
      margin: 0;
      padding: 0;
      list-style: none;
    }
  
    li {
      display: block;
      padding: 15px 0 0px bases.$space - 2vw;
      align-items: center;

    }
  
    a {
      display: block;
      text-decoration: none;
      color: #888;
    }

    ._n_img_container {
      display: inline-block;
      height: 28px;
      width: 28px;
      overflow: hidden;

      img {
        width: 80%;
        height: auto;
        vertical-align: middle;
        transform: translateY(20%);
        transition: transform 500ms ease-in-out;
      }
    }

    ._n_text_container {
      display: inline-block;
      overflow: hidden;

      >span {
        display: block;
        transform: translateY(0%);
        animation-name: fade_in_items_menu;
        animation-duration: 1000ms;
        animation-delay: 500ms;
      }
    }
  }
}

@keyframes fade_in_items_menu {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(0%);
  }
}

@media only screen and (min-width: 768px) {
._n_header {
  justify-content: space-between;

  ._n_title_div {
    flex: 1;
    justify-content: left;

    img{
      width: 20%;
    }
  }

  ._n_action_button {
    display: none;  
  }

  ._n_action_button_cancel {
    display: none;
  }

  .phone {
    display: none;
  }

  .desktop {
    flex: 1;
    display: flex;
    top: auto;
    height: auto;
    right: auto;
    width: auto;
    padding-top: 0;
    transition: 0.5s;
  
    ul {
      margin: 0;
      padding: 0;
      list-style: none;
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }
  
    li {
      display: flex;
      flex-direction: row;
      width: 25%;
      padding-left: 1%;
      font-size: 1rem;
    }
  
    a {
      display: block;
      text-decoration: none;
      color: #888;
    }

    .navlink {
      border: 1px solid white;
      display: flex;
      flex-direction: row;
      width: 100%;
      align-items: center;
    }

    ._n_img_container {
      display: block;
      height: 22px;
      width: 22px;
      overflow: hidden;
      margin-right: 6%;

      img {
        width: 80%;
        height: auto;
        vertical-align: middle;
        transform: translateY(100%);
        transition: transform 500ms ease-in-out;
        display: flex;
        width: 100%;
      }
    }

    ._n_text_container {
      display: block;
      overflow: hidden;

      >span {
        display: block;
        transform: translateY(0%);
        animation-name: fade_in_items_menu;
        animation-duration: 1000ms;
        animation-delay: 500ms;
      }
    }

    a.active {
      color: black;
      img {
        transform: translateY(0%);
      }
    }

    a:hover {
      color: black;
      img {
        transform: translateY(0%);
      }
    }
  }
}

}