@use 'bases';

.qVK_main_container {
  background-image: linear-gradient(45deg ,bases.$earth, bases.$red);
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: bases.$padding;

  div{
    display: block;
    padding: bases.$padding;

    ._qVK_belafric_title {
      color: white;
      font-weight: bold;
      font-size: 2.5rem;
    }

    ._qVK_belafric_span {
      display: block;
      color: white;
      text-align: justify;
      font-size: 1.2rem;
      width: 100%;

    }

    img {
      width: 80%;
      padding: 10%;
      height: auto;
    }
  }
}

@media only screen and (min-width: 768px) {
  /* For desktop: */
  .qVK_main_container {
    height: 100vh;
    display: flex;
    flex-direction: row;

    div{
      display: flex;
      flex-direction: column;
      flex: 1;
      height: 80%;
      justify-content: center;
      align-items: center;

      ._qVK_belafric_title {
        font-size: 4rem;
      }
    }
  }
}