@use 'bases';

.q_main_container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .q_child {
    padding: 6%;
    display: flex;
    align-items: center;
    flex: 1;
    flex-direction: column;
    background-color: bases.$copper;

    .q_child_one{
      display: flex;
      flex-direction: column;
      color: white;
      align-items: center;
  
      .count {
        font-size: 5rem;
        font-weight: bold;
      }
    }

    .q_child_two{
      display: flex;
      flex-direction: column;
      color: white;
  
      .count {
        font-size: 6rem;
        font-weight: bold;
      }
  
      ._q_belafric_span {
        display: flex;
        flex-direction: column;
  
        &_stat {
          display: flex;
          width: 100%;
        }
      }
    }
  }
}

@media only screen and (min-width: 992px) {
  .q_main_container {
    .q_child {
      padding: 6%;
      align-items: flex-start;
      flex-direction: row;

      .q_child_one {
        width: 30%;
        align-items: flex-start;
    
        .count {
          font-size: 8rem;
        }
      }
  
      .q_child_two {
        width: 70%;
      }
    }
  }
}